<html>
    <body>
        <form action = "/gpa" method = "POST">
            <table border = 1>
                <tr>
                    <th>No.</th>
                    <td>Letter Grade</td>
                    <td>Credits</td>
                </tr>
                <tr>
                    <th>1</th>
                    <td><input  type="text" name="g1"></td>
                    <td><input type="number" name="w1"></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td><input  type="text" name="g2"></td>
                    <td><input type="number" name="w2"></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td><input  type="text" name="g3"></td>
                    <td><input type="number" name="w3"></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td><input  type="text" name="g4"></td>
                    <td><input type="number" name="w4"></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td><input  type="text" name="g5"></td>
                    <td><input type="number" name="w5"></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td><input  type="text" name="g6"></td>
                    <td><input type="number" name="w6"></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td><input  type="text" name="g7"></td>
                    <td><input type="number" name="w7"></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td><input  type="text" name="g8"></td>
                    <td><input type="number" name="w8"></td>
                </tr>
            </table>
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </body>
</html>